{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-14 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="{% static 'img/logoFooter.webp' %}" alt="">
                </a>
                <p>Ecommerce venta de productos "Omnilife"</p>
                <button class="btn callback">Contacto</button>
            </div>
        </div>
    </div>
